.card {
  width: 255px;
  height: 440px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.card-img-wrapper {
  height: 340px;
  position: relative;
}

.card-img-wrapper:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.2;
  border: 1.5px solid #555;
  border-radius: 15px;
}

.card-img {
  width: 255px;
  height: 340px;
  object-fit: cover;
  border-radius: 15px;
}

.fav-button {
  border: none;
  background: none;
  position: absolute;
  top: 16px;
  right: 20px;
  cursor: pointer;
}

.card-detail-info {
  display: flex;
  align-items: center;
  gap: 4px;
}

.star-icon {
  width: 12px;
}

.card-title {
  font-size: 18px;
  font-weight: 300;
  margin-top: -3px;
  line-height: 20px;
}

.price {
  font-size: 18px;
  margin-top: -8px;
  letter-spacing: 0.1px;
}

@media (max-width: 1440px) {
  .card {
    width: 205px;
  }
  .card-img-wrapper {
    height: 280px;
  }
  .card-img {
    width: 205px;
    height: 280px;
  }
}
@media (max-width: 1200px) {
  .card {
    width: 235px;
  }
  .card-img-wrapper {
    height: 310px;
  }
  .card-img {
    width: 235px;
    height: 310px;
  }
}
@media (max-width: 700px) {
  .card {
    width: 265px;
  }
  .card-img-wrapper {
    height: 345px;
  }
  .card-img {
    width: 265px;
    height: 345px;
  }
}