*::-webkit-scrollbar {
  display: none;
}

.card {
  width: 255px;
  height: 440px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.card-img-wrapper {
  width: 255px;
  height: 340px;
  position: relative;
}

.card-img-wrapper:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.2;
  border: 1.5px solid #555;
  border-radius: 15px;
}

.card-img-wrapper1 {
  width: 255px;
  height: 340px;
  overflow: hidden;
  border-radius: 15px;
}

.card-img {
  height: 340px;
  width: 100%;
  transition: .9s transform;
}

.card:hover .card-img {
  transform: scale(1.2, 1.2);
}

.fav-button {
  border: none;
  background: none;
  position: absolute;
  top: 16px;
  right: 20px;
  cursor: pointer;
}

.card-detail-info {
  display: flex;
  align-items: center;
  gap: 4px;
}

.star-icon {
  width: 12px;
}

.card-title {
  font-size: 18px;
  font-weight: 300;
  margin-top: -3px;
  line-height: 20px;
}

.price {
  font-size: 18px;
  margin-top: -8px;
  letter-spacing: 0.1px;
}

@media (max-width: 1440px) {
  .card {
    width: 205px;
  }
  .card-img-wrapper {
    width: 230px;
    height: 306px;
  }
  .card-img-wrapper1 {
    width: 230px;
    height: 306px;
  }
  .card-img {
    height: 306px;
  }
}
@media (max-width: 700px) {
  .card {
    width: 185px;
  }
  .card-img-wrapper {
    width: 185px;
    height: 276px;
  }
  .card-img-wrapper1 {
    width: 185px;
    height: 276px;
  }
  .card-img {
    height: 276px;
  }
}