.card {
  width: 255px;
  height: 440px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.card-img-wrapper {
  height: 340px;
}

.card-img {
  width: 250px;
  height: 340px;
  object-fit: cover;
  border: 1px solid #aaa;
  border-radius: 15px;
}

.card-detail-info {
  display: flex;
  align-items: center;
  gap: 4px;
}

.star-icon {
  width: 12px;
}

.card-title {
  font-size: 18px;
  font-weight: 300;
  margin-top: -3px;
  line-height: 20px;
}

.price {
  font-size: 18px;
  margin-top: -8px;
  letter-spacing: 0.1px;
}