nav {
  height: 80px;
  box-shadow: rgba(0,0,0,0.08) 0 1px 1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 153px;
  padding-right: 153px;
  margin: 0 auto;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 999;
}

.nav-logo {
  width: 102px;
  cursor: pointer;
}

.nav-menu {
  display: flex;
  align-items: center !important;
  justify-content: flex-end !important;
  gap: 2px;
}

.nav-btn {
  background: none;
  font-size: 15.5px;
  font-weight: 500;
  letter-spacing: -0.22px;
  border: 0;
  padding: 9px 15px;
  margin-top: 2px;
  margin-right: -8px;
  margin-bottom: 2px;
  left: -3px;
  right: -3px;
}

.nav-btn:hover {
  background: #F7F7F7;
  border-radius: 22px;
  cursor: pointer;
}

.nav-globe-icon-wrapper {
  background: none;
  display: flex;
  align-items: center;
  border: 0;
  /* margin-right: -4px; */
}

.nav-globe-icon {
  margin: 12px 15px;
}

.nav-globe-icon-wrapper:hover {
  background: #F7F7F7;
  border-radius: 21px;
  cursor: pointer;
}

.nav-profile {
  position: relative;
  display: inline-block;
}

.nav-profile-main {
  background: transparent;
  margin: 0;
  padding: 6px 12px;
  padding-right: 6px;
  text-align: inherit;
  border: 1px solid #dedede;
  border-radius: 21px;
  display: flex;
  align-items: center;
  gap: 12px;
  transition: box-shadow 0.2s;
  cursor: pointer;
}

.nav-profile-main:not(.nav-profile-active):hover {
  box-shadow: rgba(113, 113, 113, 0.35) 0 2.5px 3.5px;
}

.nav-profile-menu {
  width: 240px;
  position: absolute;
  /* right: 0; */
  top: 55px;
  right: 0;
  letter-spacing: -0.4px;
  font-weight: 300;
}

.nav-profile-active {
  border-radius: 21px;
  box-shadow: rgba(113, 113, 113, 0.35) 0 2.5px 3.5px;
}

.profile-menu {
  background: #fff;
  list-style: none;

  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: rgba(204, 204, 204, 0.7) 0 0 30px;
  -moz-box-shadow: rgba(204, 204, 204, 0.7) 0 0 30px;
  box-shadow: rgba(204, 204, 204, 0.7) 0 0 12px;
}

.profile-menu-top {
  border-bottom: 1px solid #dfdfdf;
}

.profile-menu-top,
.profile-menu-bottom {
  padding: 8px 0;
}

.profile-menu-top > li,
.profile-menu-bottom > li {
  padding: 8px 16px;
}

.profile-menu-top > li:hover,
.profile-menu-bottom > li:hover {
  background: #F7F7F7;
  cursor: pointer;
}

@media (max-width: 1440px) {
  nav {
    padding-left: 100px;
    padding-right: 100px;
  }
}
@media (max-width: 744px) {
  nav {
    padding-left: 50px;
    padding-right: 50px;
  }
}